<!-- <pre>{{requirments | json}}</pre> -->
<p-toast key="t2" position="top-right"></p-toast>
<ng-container *ngFor="let item of items; let i = index">
    <div class="requirments">
        <div class="requirments-pane">
            <p class="name">Requirements {{i+1}}:</p>
            <h2 class="description">{{item.description}}</h2>
            <ng-container *ngIf="this.isAdmin ==='1'">
                <button pButton pRipple (click)="deleteRequirment(this.item.id, i)" type="submit"
                    class="p-button-outlined p-button-danger">Delete</button>
            </ng-container>
        </div>
    </div>
</ng-container>